In [1]:
import pandas as pd
import numpy as np

In [9]:
dict1 = {
    'url': ['byt v holesovicich', 'byt v centru'],
    'cena_mesicne': [30000, 50000],
    'velikost': ['2KK', '1KK'],
    'adresa': ['Argentinská 123', 'Pražská 123'],
    'mesto': ['Praha', 'Praha'],
    'typ': ['byt', 'byt']}

df = pd.DataFrame.from_dict(dict1)
df

                nazev  cena_mesicne velikost           adresa  mesto  typ
0  byt v holesovicich         30000      2KK  Argentinská 123  Praha  byt
1        byt v centru         50000      1KK      Pražská 123  Praha  byt

In [11]:
df[df['cena_mesicne'] >= 40000]

          nazev  cena_mesicne velikost       adresa  mesto  typ
1  byt v centru         50000      1KK  Pražská 123  Praha  byt

In [ ]:
h = []
m = []

In [16]:
m.append('měsíční nájemné')
h.append('30000')

In [18]:
dict1 = {
    'metriky': m,
    'hodnoty': h
}

In [20]:
df = pd.DataFrame.from_dict(dict1)
df

           metriky hodnoty
0  měsíční nájemné   30000

In [28]:
import os

openai_key = os.getenv("OPENAI_API_KEY")

print(openai_key)

None